USE [SatisVT]
GO
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[KATEGORIID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TEST1]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*SELECT * FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL' OR OGRKULUP='4'
create table TBLDERSLER
(
DersId tinyint,
DersAd varchar(20)
)
Alter Table TBLDERSLER
drop column Kontenjan 
Select * From TBLOGRENCILER
Select OGRAD,OGRSOYAD From TBLOGRENCILER
Select * From TBLOGRENCILER WHERE	OGRAD='ALİ'
select * from TBLNOTLAR
select (sınav1+sınav2+sınav3)/3 from TBLNOTLAR
INSERT Into TBLOGRENCILER (OGRAD,OGRSOYAD,OGRSEHIR) values ('baran','akkaya','Muş')
select * from TBLOGRENCILER
Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav3) values (6,2,88,67)
e(kleme işlemleri)
delete from TBLDERSLER where DersAd='cna'
s(ilme işlemleri)
Truncate table TBLDERSLER (truncate komutu tabloyu sıfırlar.)
Update TBLOGRENCILER set OGRCINSIYET='kız' where OGRID=3 or OGRID=4
T(ablodaki veriler üzerinde değişiklik yapar)
Update TBLOGRENCILER set OGRCINSIYET='erkek' where OGRID=6
Update TBLNOTLAR set DERS='2'
Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav2) values(5,2,78,68)
Update TBLNOTLAR set Ortalama=(sınav1+sınav2+sınav3)/3
Update TBLNOTLAR set durum=1 where ortalama>=50
select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER
select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER where OGRSEHIR='istanbul'
select SUM (SINAV1), SUM (SINAV2), SUM (SINAV3) FROM TBLNOTLAR
SELECT AVG (SINAV1), AVG(SINAV2), AVG(SINAV3) FROM TBLNOTLAR
SELECT MAX (SINAV1) FROM TBLNOTLAR
SELECT MIN (SINAV1) FROM TBLNOTLAR
SELECT OGRSEHIR, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRSEHIR
SELECT OGRCINSIYET, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRCINSIYET
select (SINAV1+SINAV2+SINAV3)/3 FROM TBLNOTLAR
SELECT durum, COUNT (*)AS 'TOPLAM' FROM TBLNOTLAR GROUP BY durum
SELECT OGRSEHIR, COUNT (*)'SAYI' FROM TBLOGRENCILER GROUP BY OGRSEHIR HAVING COUNT (*)=1
SELECT DISTINCT OGRSEHIR FROM TBLOGRENCILER
SELECT * FROM TBLOGRENCILER WHERE OGRAD LIKE '%A%'
SELECT * FROM TBLOGRENCILER ORDER BY OGRSEHIR
SELECT DISTINCT OGRKULUP FROM TBLOGRENCILER ORDER BY OGRKULUP DESC
 LİKE İŞARETLERİ ARAŞTIR
 TOP PERCENT
 IN NOT IN
 BETWEEN
select NOTID,OGRAD, Dersad,SINAV1,SINAV2,SINAV3 from TBLNOTLAR
INNER JOIN TBLDERSLER
ON TBLNOTLAR.Ders=TBLDERSLER.DERSID
INNER JOIN TBLOGRENCILER
ON TBLNOTLAR.OGRENCI=TBLOGRENCILER.OGRID
insert into TBLOGRENCILER (OGRAD,OGRKULUP,OGRSEHIR) values ('berna',4,'ankara')
update TBLOGRENCILER set OGRKULUP=5 where OGRKULUP='spor'
UPDATE TBLNOTLAR SET ortalama=(sınav1+SINAV2+SINAV3)/3 WHERE DERS=1
dersler tablosunda ismi mat olan ders alt sınav not bilgisi
select * from TBLNOTLAR where ders=(select DERSId from TBLDERSLER where DersAd='matematik')
SELECT MAX (SINAV1)As 'Algoritma En Yüksek Sınav1 Notu' FROM TBLNOTLAR where Ders=(select DERSId from TBLDERSLER where DersAd='Algoritma')
select* from TBLNOTLAR
full join TBLOGRENCILER
on TBLOGRENCILER.OGRID=TBLNOTLAR.OGRENCI
select* from TBLKULUPLER union select* from TBLDERSLER
select 20+4 as 'toplam', 20-4 as 'fark', 20*4 as 'çarpım', 20/4 as 'bölüm'
select * from TBLNOTLAR where ders=1
update TBLNOTLAR set sınav2=sınav2+10 from TBLNOTLAR where ders=1
update TBLNOTLAR set sınav2=100 where sınav2>100
select* from TBLNOTLAR where ders=1
sınıf ortalamasının altında olan öğrencilerin 'durum2' sütunlarının yanına 'altında',aksi durum
üstünde yazdıran sorguyu hazırlayın...
SELECT*,'Üstünde' as 'DURUM2' FROM TBLNOTLAR
WHERE  ORTALAMA>(SELECT AVG(ORTALAMA) FROM TBLNOTLAR WHERE DERS IN(1,2))
union  select*,'Altında' as 'DURUM2'
FROM TBLNOTLAR WHERE  ORTALAMA<(SELECT AVG(ORTALAMA)  FROM TBLNOTLAR  WHERE DERS IN (1,2))
select avg (ortalama) from TBLNOTLAR where ders=1
select * from TBLNOTLAR
MATEMATİKSEL KONULAR
abs
select abs(-85) as 'mutlak'
select power (2,4) as 'üs alma' 
select power(sınav2,2) from TBLNOTLAR
SELECT SQRT (144) AS 'KAREKÖK'
SELECT FLOOR(4.86) AS 'TABAN', CEILING (4.88) AS 'TAVAN'
SELECT SUM (SINAV1) FROM TBLNOTLAR WHERE OGRENCI=1
SELECT SINAV1,DERS FROM TBLNOTLAR WHERE OGRENCI=1
SELECT SUM(SINAV1) AS 'TOPLAM', AVG(SINAV1) AS 'ORTALAMA' FROM TBLNOTLAR INNER JOIN TBLDERSLER
ON TBLNOTLAR.DERS=TBLDERSLER.DERSID
WHERE OGRENCI=(SELECT OGRID FROM TBLOGRENCILER WHERE OGRAD='CAN' AND OGRSOYAD='DEMİR')
SELECT UPPER ('merhaba') as 'sütun' (harfleri büyük yazdırır)
select upper(ograd) as 'öğr ad',
lower (OGRSEHIR) as 'sehir' (KÜÇÜK HARF YAPAR)
from TBLOGRENCILER
select substring (ograd,1,1)+'.' + ogrsoyad as 'ad soyad' from TBLOGRENCILER 
SELECT LEFT (DERSAD,3),AVG(ORTALAMA) FROM TBLNOTLAR
INNER JOIN TBLDERSLER
ON TBLDERSLER.DersId=TBLNOTLAR.Ders
GROUP BY DersAd
SELECT LEN('MERHABA')
SELECT OGRAD,LEN(OGRAD),OGRKULUP FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL'AND
OGRKULUP=(SELECT KULUPID FROM TBLKULUPLER WHERE KULUPAD='SPOR')
CREATE DATABASE SatisVT
USE SatisVT
CREATE TABLE TBLKATEGORI
(
KATEGORIID tinyint identity (1,1) primary key,
KATEGORIAD varchar(50) 
)
create table TBLURUNLER
(
URUNID int identity (1,1) primary key,
URUNAD varchar(50),
URUNMARKA varchar(50),
KATEGORI tinyint,
URUNALISFIYAT decimal(18,2),
URUNSATISFIYAT decimal(18,2),
URUNSTOK smallint check(URUNSTOK>0),
URUNDURUM bit default '1'
)
create table TBLPERSONEL
(
PERSONELID smallint identity(1,1) primary key,
PERSONELADSOYAD VARCHAR(50)
)
CREATE TABLE TBLMUSTERI
(
MUSTERIID int primary key identity(1,1),
MUSTERIAD varchar(50),
MUSTERISOYAD varchar (50),
MUSTERISEHIR varchar (11),
MUSTERIBAKIYE  decimal (18,2)
)
create table TBLHAREKET
(
HAREKETID int primary key identity (1,1),
URUN int,
MUSTERI int,
PERSONEL smallint,
ADET int,
TUTAR DECIMAL (18,2),
TARIH SMALLDATETIME
)
TRUNCATE TABLE TBLURUNLER
DELETE FROM TBLKATEGORI WHERE KATEGORIID= '1'
insert into TBLKATEGORI (KATEGORIAD) VALUES ('BİLGİSAYAR')
insert into TBLKATEGORI (KATEGORIAD) VALUES ('BEYAZ EŞYA')
insert into TBLKATEGORI (KATEGORIAD) VALUES ('KÜÇÜK EV ALETİ')
insert into TBLKATEGORI (KATEGORIAD) VALUES ('DİĞER')
INSERT INTO TBLURUNLER (URUNAD,URUNMARKA,KATEGORI,URUNALISFIYAT,URUNSATISFIYAT,URUNSTOK)
VALUES ('BUZDOLABI','SIEMENS',2,4356,4588,10)
SELECT * FROM TBLURUNLER
UPDATE TBLURUNLER SET URUNAD='SU ISITICI' WHERE URUNAD='KETTLE'
SELECT KATEGORIAD, COUNT(*) AS 'TOPLAM URUN' FROM TBLURUNLER INNER JOIN TBLKATEGORI
ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID GROUP BY KATEGORIAD
ORDER BY COUNT(*)
KATEGORI ADI BİLGİSAYAR OLAN URUNLERIN SATIS FİYATINA 500 TL ZAM YAP
UPDATE TBLURUNLER SET URUNSATISFIYAT+=500 WHERE KATEGORI=(SELECT KATEGORIID FROM TBLKATEGORI
WHERE KATEGORIAD='BİLGİSAYAR')
SELECT * FROM TBLURUNLER
SELECT COUNT (*) AS 'KAÇ FARKLI ÜRÜN VAR ', SUM(URUNSTOK)'ÜRÜN SAYISI' FROM TBLURUNLER
SELECT URUNID,URUNAD,URUNMARKA,KATEGORIAD,URUNSATISFIYAT,URUNALISFIYAT,URUNSTOK,
U(RUNSATISFIYAT-URUNALISFIYAT)AS 'KAR',
U(RUNSATISFIYAT-URUNALISFIYAT)*URUNSTOK AS 'TOPLAM KAR'
FROM TBLURUNLER INNER JOIN TBLKATEGORI
ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID
CREATE PROCEDURE HAREKETLER
AS
select HAREKETID,URUNAD,MUSTERIAD + ' ' + MUSTERISOYAD AS 'AD SOYAD',
PERSONELADSOYAD,ADET,TUTAR,TARIH
from TBLHAREKET INNER JOIN TBLURUNLER
ON TBLHAREKET.URUN=TBLURUNLER.URUNID
INNER JOIN TBLMUSTERI
ON TBLHAREKET.MUSTERI=TBLMUSTERI.MUSTERIID
INNER JOIN TBLPERSONEL
ON TBLHAREKET.PERSONEL=TBLPERSONEL.PERSONELID
EXECUTE HAREKETLER (PROSEDUR CALISTIRMA SORGUSU)
ALTER PROCEDURE URUNGETIR
@Deger varchar(50)='buzdolabı'
AS
SELECT URUNAD,URUNSTOK,URUNMARKA FROM TBLURUNLER
where URUNAD=@Deger
EXECUTE URUNGETIR
SELECT * FROM TBLHAREKET WHERE DATEPART(DAY,TARIH)BETWEEN 3 AND 3 AND MUSTERI=1
SELECT * FROM TBLHAREKET WHERE DATEPART(DAY,TARIH) BETWEEN 1 AND 3 AND
MUSTERI=(SELECT MUSTERIID FROM TBLMUSTERI WHERE MUSTERISEHIR='ANKARA')
select datename(month, getdate()),datename(month,'2019.01.15')
select datename(weekday,'2019.04.30')
select datediff (year,'2010.10.25',getdate())
select datediff (month,'2010.10.25','2022.08.12')
SELECT URUNAD,COUNT(*) AS 'URUN AD' FROM TBLHAREKET 
INNER JOIN TBLURUNLER ON TBLHAREKET.URUN=TBLURUNLER.URUNID
GROUP BY URUNAD ORDER BY COUNT(*) ASC
SELECT * FROM TBLHAREKET WHERE URUN IN(SELECT URUNID FROM TBLURUNLER WHERE KATEGORI=2)
SELECT * FROM TBLHAREKET WHERE MUSTERI IN (SELECT MUSTERIID FROM TBLMUSTERI WHERE MUSTERISEHIR='ADANA')
SELECT * FROM TBLHAREKET WHERE URUN IN (SELECT URUNID FROM TBLURUNLER WHERE KATEGORI=(SELECT KATEGORIID FROM TBLKATEGORI WHERE KATEGORIAD='BEYAZ EŞYA'))
SELECT SUM(TUTAR) FROM TBLHAREKET WHERE MUSTERI IN(SELECT MUSTERIID FROM TBLMUSTERI
WHERE MUSTERISEHIR='ADANA' OR MUSTERISEHIR='ANKARA')
UPDATE TBLURUNLER SET URUNSTOK=URUNSTOK-(SELECT SUM(ADET)FROM TBLHAREKET WHERE URUN=10) WHERE URUNID=10
CREATE TABLE KASA 
(
TOPLAM DECIMAL(18,2)
)
INSERT INTO KASA VALUES(0)
SELECT * FROM KASA
UPDATE KASA SET TOPLAM=(SELECT SUM(TUTAR) FROM TBLHAREKET)
CREATE TABLE TBLSAYAC
(
ISLEM int
)
INSERT INTO TBLSAYAC VALUES (0)
UPDATE TBLSAYAC SET ISLEM=(SELECT COUNT(*) FROM TBLHAREKET)
CREATE TRIGGER ISLEMARTIS
ON TBLHAREKET
AFTER INSERT
AS
UPDATE TBLSAYAC SET ISLEM=ISLEM+1
CREATE TABLE TBLTOPLAMKATEGORI
(
ADET tinyint
)
update TBLTOPLAMKATEGORI SET ADET=(SELECT COUNT (*)FROM TBLKATEGORI)
CREATE TRIGGER KATEGORIARTIS
ON TBLKATEGORI
AFTER INSERT
AS
UPDATE TBLTOPLAMKATEGORI SET ADET+=1
CREATE TRIGGER KATEGORIAZALIS
ON TBLKATEGORI
AFTER DELETE
AS
UPDATE TBLTOPLAMKATEGORI SET ADET-=1*/
CREATE VIEW [dbo].[TEST1]
AS
SELECT KATEGORIID, KATEGORIAD
FROM     dbo.TBLKATEGORI
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[URUNMARKA] [varchar](50) NULL,
	[KATEGORI] [tinyint] NULL,
	[URUNALISFIYAT] [decimal](18, 2) NULL,
	[URUNSATISFIYAT] [decimal](18, 2) NULL,
	[URUNSTOK] [smallint] NULL,
	[URUNDURUM] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TEST2]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TEST2]
AS
SELECT dbo.TBLURUNLER.URUNID, dbo.TBLURUNLER.URUNAD, dbo.TBLURUNLER.URUNMARKA, dbo.TBLKATEGORI.KATEGORIAD
FROM     dbo.TBLURUNLER INNER JOIN
                  dbo.TBLKATEGORI ON dbo.TBLURUNLER.KATEGORI = dbo.TBLKATEGORI.KATEGORIID
WHERE  (dbo.TBLURUNLER.URUNAD LIKE '%a%')
GO
/****** Object:  Table [dbo].[TBLPERSONEL]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPERSONEL](
	[PERSONELID] [smallint] IDENTITY(1,1) NOT NULL,
	[PERSONELADSOYAD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERI]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERI](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
	[MUSTERISEHIR] [varchar](11) NULL,
	[MUSTERIBAKIYE] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAREKET]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAREKET](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[PERSONEL] [smallint] NULL,
	[ADET] [int] NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK__TBLHAREK__C2B06AA50D7ED4F6] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[test3]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[test3]
AS
SELECT dbo.TBLURUNLER.URUNAD, dbo.TBLMUSTERI.MUSTERIAD, dbo.TBLMUSTERI.MUSTERISOYAD, dbo.TBLPERSONEL.PERSONELADSOYAD, dbo.TBLHAREKET.TUTAR, dbo.TBLHAREKET.ADET, dbo.TBLHAREKET.TARIH
FROM     dbo.TBLHAREKET INNER JOIN
                  dbo.TBLURUNLER ON dbo.TBLHAREKET.URUN = dbo.TBLURUNLER.URUNID INNER JOIN
                  dbo.TBLPERSONEL ON dbo.TBLHAREKET.PERSONEL = dbo.TBLPERSONEL.PERSONELID INNER JOIN
                  dbo.TBLMUSTERI ON dbo.TBLHAREKET.MUSTERI = dbo.TBLMUSTERI.MUSTERIID
WHERE  (dbo.TBLHAREKET.ADET = 1) AND (dbo.TBLHAREKET.TUTAR < 5000)
GO
/****** Object:  Table [dbo].[KASA]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KASA](
	[TOPLAM] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSAYAC]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSAYAC](
	[ISLEM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSEHIR]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSEHIR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLTOPLAMKATEGORI]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLTOPLAMKATEGORI](
	[ADET] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[KASA] ([TOPLAM]) VALUES (CAST(46896.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[TBLHAREKET] ON 

INSERT [dbo].[TBLHAREKET] ([HAREKETID], [URUN], [MUSTERI], [PERSONEL], [ADET], [TUTAR], [TARIH]) VALUES (1, 1, 3, 1, 1, CAST(4588.00 AS Decimal(18, 2)), CAST(N'2019-10-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBLHAREKET] ([HAREKETID], [URUN], [MUSTERI], [PERSONEL], [ADET], [TUTAR], [TARIH]) VALUES (2, 6, 3, 1, 1, CAST(2000.00 AS Decimal(18, 2)), CAST(N'2019-10-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBLHAREKET] ([HAREKETID], [URUN], [MUSTERI], [PERSONEL], [ADET], [TUTAR], [TARIH]) VALUES (3, 10, 3, 1, 1, CAST(2000.00 AS Decimal(18, 2)), CAST(N'2019-10-01T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBLHAREKET] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] ON 

INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (2, N'BİLGİSAYAR')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (3, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (4, N'KÜÇÜK EV ALETİ')
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] ON 

INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISEHIR], [MUSTERIBAKIYE]) VALUES (1, N'VEYSEL', N'YILDIRIM', N'ADANA', CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISEHIR], [MUSTERIBAKIYE]) VALUES (2, N'EMEL', N'ÖZBEY', N'ANKARA', CAST(21000.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISEHIR], [MUSTERIBAKIYE]) VALUES (3, N'ASLI', N'YILDIRIM', N'BURSA', CAST(160000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLPERSONEL] ON 

INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELADSOYAD]) VALUES (1, N'CAN DEMİR')
INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELADSOYAD]) VALUES (2, N'ESRA KADİROGLU')
INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELADSOYAD]) VALUES (3, N'EYLEM ÖZTEMEL')
SET IDENTITY_INSERT [dbo].[TBLPERSONEL] OFF
GO
INSERT [dbo].[TBLSAYAC] ([ISLEM]) VALUES (15)
GO
SET IDENTITY_INSERT [dbo].[TBLSEHIR] ON 

INSERT [dbo].[TBLSEHIR] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[TBLSEHIR] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBLSEHIR] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBLSEHIR] OFF
GO
INSERT [dbo].[TBLTOPLAMKATEGORI] ([ADET]) VALUES (5)
GO
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNMARKA], [KATEGORI], [URUNALISFIYAT], [URUNSATISFIYAT], [URUNSTOK], [URUNDURUM]) VALUES (1, N'BUZDOLABI', N'SIEMENS', 3, CAST(4356.00 AS Decimal(18, 2)), CAST(4588.00 AS Decimal(18, 2)), 7, 1)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNMARKA], [KATEGORI], [URUNALISFIYAT], [URUNSATISFIYAT], [URUNSTOK], [URUNDURUM]) VALUES (2, N'LCD', N'LG', 5, CAST(2355.00 AS Decimal(18, 2)), CAST(2566.00 AS Decimal(18, 2)), 13, 1)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNMARKA], [KATEGORI], [URUNALISFIYAT], [URUNSATISFIYAT], [URUNSTOK], [URUNDURUM]) VALUES (3, N'LAPTOP', N'MONSTER', 2, CAST(1555.00 AS Decimal(18, 2)), CAST(6000.00 AS Decimal(18, 2)), 13, 1)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
GO
ALTER TABLE [dbo].[TBLURUNLER] ADD  DEFAULT ('1') FOR [URUNDURUM]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLMUSTERI] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERI] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLMUSTERI]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([PERSONELID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORI] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORI]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD CHECK  (([URUNSTOK]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[HAREKETLER]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL' OR OGRKULUP='4'
--create table TBLDERSLER
--(
--DersId tinyint,
--DersAd varchar(20)
--)
--Alter Table TBLDERSLER
--drop column Kontenjan 
--Select * From TBLOGRENCILER
--Select OGRAD,OGRSOYAD From TBLOGRENCILER
--Select * From TBLOGRENCILER WHERE	OGRAD='ALİ'
--select * from TBLNOTLAR
--select (sınav1+sınav2+sınav3)/3 from TBLNOTLAR
--INSERT Into TBLOGRENCILER (OGRAD,OGRSOYAD,OGRSEHIR) values ('baran','akkaya','Muş')
--select * from TBLOGRENCILER
--Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav3) values (6,2,88,67)
--(ekleme işlemleri)
--delete from TBLDERSLER where DersAd='cna'
--(silme işlemleri)
--Truncate table TBLDERSLER (truncate komutu tabloyu sıfırlar.)
--Update TBLOGRENCILER set OGRCINSIYET='kız' where OGRID=3 or OGRID=4
--(Tablodaki veriler üzerinde değişiklik yapar)
--Update TBLOGRENCILER set OGRCINSIYET='erkek' where OGRID=6
--Update TBLNOTLAR set DERS='2'
--Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav2) values(5,2,78,68)
--Update TBLNOTLAR set Ortalama=(sınav1+sınav2+sınav3)/3
--Update TBLNOTLAR set durum=1 where ortalama>=50
--select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER
--select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER where OGRSEHIR='istanbul'
--select SUM (SINAV1), SUM (SINAV2), SUM (SINAV3) FROM TBLNOTLAR
--SELECT AVG (SINAV1), AVG(SINAV2), AVG(SINAV3) FROM TBLNOTLAR
--SELECT MAX (SINAV1) FROM TBLNOTLAR
--SELECT MIN (SINAV1) FROM TBLNOTLAR
--SELECT OGRSEHIR, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRSEHIR
--SELECT OGRCINSIYET, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRCINSIYET
--select (SINAV1+SINAV2+SINAV3)/3 FROM TBLNOTLAR
--SELECT durum, COUNT (*)AS 'TOPLAM' FROM TBLNOTLAR GROUP BY durum
--SELECT OGRSEHIR, COUNT (*)'SAYI' FROM TBLOGRENCILER GROUP BY OGRSEHIR HAVING COUNT (*)=1
--SELECT DISTINCT OGRSEHIR FROM TBLOGRENCILER
--SELECT * FROM TBLOGRENCILER WHERE OGRAD LIKE '%A%'
--SELECT * FROM TBLOGRENCILER ORDER BY OGRSEHIR
--SELECT DISTINCT OGRKULUP FROM TBLOGRENCILER ORDER BY OGRKULUP DESC
-- LİKE İŞARETLERİ ARAŞTIR
-- TOP PERCENT
-- IN NOT IN
-- BETWEEN
--select NOTID,OGRAD, Dersad,SINAV1,SINAV2,SINAV3 from TBLNOTLAR
--INNER JOIN TBLDERSLER
--ON TBLNOTLAR.Ders=TBLDERSLER.DERSID
--INNER JOIN TBLOGRENCILER
--ON TBLNOTLAR.OGRENCI=TBLOGRENCILER.OGRID
--insert into TBLOGRENCILER (OGRAD,OGRKULUP,OGRSEHIR) values ('berna',4,'ankara')
--update TBLOGRENCILER set OGRKULUP=5 where OGRKULUP='spor'
--UPDATE TBLNOTLAR SET ortalama=(sınav1+SINAV2+SINAV3)/3 WHERE DERS=1
--dersler tablosunda ismi mat olan ders alt sınav not bilgisi
--select * from TBLNOTLAR where ders=(select DERSId from TBLDERSLER where DersAd='matematik')
--SELECT MAX (SINAV1)As 'Algoritma En Yüksek Sınav1 Notu' FROM TBLNOTLAR where Ders=(select DERSId from TBLDERSLER where DersAd='Algoritma')
--select* from TBLNOTLAR
--full join TBLOGRENCILER
--on TBLOGRENCILER.OGRID=TBLNOTLAR.OGRENCI
--select* from TBLKULUPLER union select* from TBLDERSLER
--select 20+4 as 'toplam', 20-4 as 'fark', 20*4 as 'çarpım', 20/4 as 'bölüm'
--select * from TBLNOTLAR where ders=1
--update TBLNOTLAR set sınav2=sınav2+10 from TBLNOTLAR where ders=1
--update TBLNOTLAR set sınav2=100 where sınav2>100
--select* from TBLNOTLAR where ders=1
--sınıf ortalamasının altında olan öğrencilerin 'durum2' sütunlarının yanına 'altında',aksi durum
--üstünde yazdıran sorguyu hazırlayın...
--SELECT*,'Üstünde' as 'DURUM2' FROM TBLNOTLAR

--WHERE  ORTALAMA>(SELECT AVG(ORTALAMA) FROM TBLNOTLAR WHERE DERS IN(1,2))

--union  select*,'Altında' as 'DURUM2'

--FROM TBLNOTLAR WHERE  ORTALAMA<(SELECT AVG(ORTALAMA)  FROM TBLNOTLAR  WHERE DERS IN (1,2))
--select avg (ortalama) from TBLNOTLAR where ders=1
--select * from TBLNOTLAR
--MATEMATİKSEL KONULAR
--abs
--select abs(-85) as 'mutlak'
--select power (2,4) as 'üs alma' 
--select power(sınav2,2) from TBLNOTLAR
--SELECT SQRT (144) AS 'KAREKÖK'
--SELECT FLOOR(4.86) AS 'TABAN', CEILING (4.88) AS 'TAVAN'
--SELECT SUM (SINAV1) FROM TBLNOTLAR WHERE OGRENCI=1
--SELECT SINAV1,DERS FROM TBLNOTLAR WHERE OGRENCI=1
--SELECT SUM(SINAV1) AS 'TOPLAM', AVG(SINAV1) AS 'ORTALAMA' FROM TBLNOTLAR INNER JOIN TBLDERSLER
--ON TBLNOTLAR.DERS=TBLDERSLER.DERSID
--WHERE OGRENCI=(SELECT OGRID FROM TBLOGRENCILER WHERE OGRAD='CAN' AND OGRSOYAD='DEMİR')
--SELECT UPPER ('merhaba') as 'sütun' (harfleri büyük yazdırır)
--select upper(ograd) as 'öğr ad',
--lower (OGRSEHIR) as 'sehir' (KÜÇÜK HARF YAPAR)
--from TBLOGRENCILER

--select substring (ograd,1,1)+'.' + ogrsoyad as 'ad soyad' from TBLOGRENCILER 
--SELECT LEFT (DERSAD,3),AVG(ORTALAMA) FROM TBLNOTLAR
--INNER JOIN TBLDERSLER
--ON TBLDERSLER.DersId=TBLNOTLAR.Ders
--GROUP BY DersAd
--SELECT LEN('MERHABA')
--SELECT OGRAD,LEN(OGRAD),OGRKULUP FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL'AND
--OGRKULUP=(SELECT KULUPID FROM TBLKULUPLER WHERE KULUPAD='SPOR')

--CREATE DATABASE SatisVT

--USE SatisVT

--CREATE TABLE TBLKATEGORI

--(
--KATEGORIID tinyint identity (1,1) primary key,
--KATEGORIAD varchar(50) 
--)
--create table TBLURUNLER
--(
--URUNID int identity (1,1) primary key,
--URUNAD varchar(50),
--URUNMARKA varchar(50),
--KATEGORI tinyint,
--URUNALISFIYAT decimal(18,2),
--URUNSATISFIYAT decimal(18,2),
--URUNSTOK smallint check(URUNSTOK>0),
--URUNDURUM bit default '1'
--)
--create table TBLPERSONEL
--(
--PERSONELID smallint identity(1,1) primary key,
--PERSONELADSOYAD VARCHAR(50)
--)
--CREATE TABLE TBLMUSTERI
--(
--MUSTERIID int primary key identity(1,1),
--MUSTERIAD varchar(50),
--MUSTERISOYAD varchar (50),
--MUSTERISEHIR varchar (11),
--MUSTERIBAKIYE  decimal (18,2)
--)
--create table TBLHAREKET
--(

--HAREKETID int primary key identity (1,1),
--URUN int,
--MUSTERI int,
--PERSONEL smallint,
--ADET int,
--TUTAR DECIMAL (18,2),
--TARIH SMALLDATETIME
--)
--TRUNCATE TABLE TBLURUNLER
--DELETE FROM TBLKATEGORI WHERE KATEGORIID= '1'
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('BİLGİSAYAR')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('BEYAZ EŞYA')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('KÜÇÜK EV ALETİ')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('DİĞER')
--INSERT INTO TBLURUNLER (URUNAD,URUNMARKA,KATEGORI,URUNALISFIYAT,URUNSATISFIYAT,URUNSTOK)
--VALUES ('BUZDOLABI','SIEMENS',2,4356,4588,10)
--SELECT * FROM TBLURUNLER
--UPDATE TBLURUNLER SET URUNAD='SU ISITICI' WHERE URUNAD='KETTLE'
--SELECT KATEGORIAD, COUNT(*) AS 'TOPLAM URUN' FROM TBLURUNLER INNER JOIN TBLKATEGORI
--ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID GROUP BY KATEGORIAD
--ORDER BY COUNT(*)
--KATEGORI ADI BİLGİSAYAR OLAN URUNLERIN SATIS FİYATINA 500 TL ZAM YAP
--UPDATE TBLURUNLER SET URUNSATISFIYAT+=500 WHERE KATEGORI=(SELECT KATEGORIID FROM TBLKATEGORI
--WHERE KATEGORIAD='BİLGİSAYAR')
--SELECT * FROM TBLURUNLER
--SELECT COUNT (*) AS 'KAÇ FARKLI ÜRÜN VAR ', SUM(URUNSTOK)'ÜRÜN SAYISI' FROM TBLURUNLER
--SELECT URUNID,URUNAD,URUNMARKA,KATEGORIAD,URUNSATISFIYAT,URUNALISFIYAT,URUNSTOK,
--(URUNSATISFIYAT-URUNALISFIYAT)AS 'KAR',
--(URUNSATISFIYAT-URUNALISFIYAT)*URUNSTOK AS 'TOPLAM KAR'
--FROM TBLURUNLER INNER JOIN TBLKATEGORI
--ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID
CREATE PROCEDURE [dbo].[HAREKETLER]
AS
select HAREKETID,URUNAD,MUSTERIAD + ' ' + MUSTERISOYAD AS 'AD SOYAD',
PERSONELADSOYAD,ADET,TUTAR,TARIH
from TBLHAREKET INNER JOIN TBLURUNLER
ON TBLHAREKET.URUN=TBLURUNLER.URUNID
INNER JOIN TBLMUSTERI
ON TBLHAREKET.MUSTERI=TBLMUSTERI.MUSTERIID
INNER JOIN TBLPERSONEL
ON TBLHAREKET.PERSONEL=TBLPERSONEL.PERSONELID
GO
/****** Object:  StoredProcedure [dbo].[TEST4]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Declare @sayi int
--set @sayi=1237123333
--select @sayi as 'sonuc'
--declare @kisi1 varchar(50)
--set @kisi1='can'
--select @kisi1
--declare @sayi1 int, @sayi2 int, @toplam int
--set @sayi1=20
--set @sayi2=30
--set @toplam=@sayi1+@sayi2
--select @toplam as 'sonuc'
--declare @sınav1 float, @sınav2 float, @sınav3 float, @ortalama float
--set @sınav1=50
--set @sınav2=66
--set @sınav3=66
--set @ortalama= (@sınav1+@sınav2+@sınav3)/3
--select @ortalama
--declare @sayi int, @birler int, @onlar int, @yüzler int, @toplam int
--set @sayi=456
--set @birler=@sayi %10
--set @onlar=(@sayi/10) %10
--set @yüzler=@sayi/100
--set @toplam=@birler + @onlar + @yüzler
--select @toplam
--use SatisVT
--select * from TBLMUSTERI
--declare @bakiye int
--set @bakiye=(select max(MUSTERIBAKIYE) from TBLMUSTERI)
--select @bakiye
--SELECT * FROM TBLURUNLER
--DECLARE @STOK INT
--SELECT @STOK=MAX(urunstok) from TBLURUNLER
--select * from TBLURUNLER where URUNSTOK=@STOK
--declare @s1 int, @s2 int, @sonuc int
--set @s1=4
--set @s2=8
--set @sonuc=@s1*@s2
--print '4 ile 8 çarpımı'
--print '****************'
--print @sonuc

--declare @kisiler table
--(
--kisiID int identity (1,1),
--kisiad varchar(10),
--kisisehir varchar(15)
--)
--insert into @kisiler(kisiad,kisisehir) values ('ali','malatya')
--insert into @kisiler(kisiad,kisisehir) values ('can','bitlis')
--select * from @kisiler where kisisehir like '%i%'

--if(select sum(urunstok) from TBLURUNLER)>100
--print 'toplam ürün sayısı 100den büyük'
--else
--print 'toplam ürün sayısı 100den küçük'
--if( select count(*) from TBLURUNLER)> 20
--print '20den fazla çeşit ürün var'
--else
--print '20den az çeşit ürün var'
--select URUNAD, URUNMARKA, URUNDURUM=
--CASE URUNDURUM
--WHEN '1' THEN 'ÜRÜN VAR'
--WHEN '0' THEN 'ÜRÜN YOK'
--END
--FROM TBLURUNLER
CREATE PROCEDURE [dbo].[TEST4]
AS
SELECT URUNAD,URUNMARKA,URUNSTOK,URUNSTOK=
CASE
WHEN URUNSTOK>=1 AND URUNSTOK<=5 THEN 'KRİTİK SEVİYE'
WHEN URUNSTOK>=6 AND URUNSTOK<=10 THEN 'TAKVİYE YAPILMALI'
WHEN URUNSTOK>10 THEN 'YETERLİ'
END
FROM TBLURUNLER
GO
/****** Object:  StoredProcedure [dbo].[URUNGETIR]    Script Date: 27.08.2022 16:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL' OR OGRKULUP='4'
--create table TBLDERSLER
--(
--DersId tinyint,
--DersAd varchar(20)
--)
--Alter Table TBLDERSLER
--drop column Kontenjan 
--Select * From TBLOGRENCILER
--Select OGRAD,OGRSOYAD From TBLOGRENCILER
--Select * From TBLOGRENCILER WHERE	OGRAD='ALİ'
--select * from TBLNOTLAR
--select (sınav1+sınav2+sınav3)/3 from TBLNOTLAR
--INSERT Into TBLOGRENCILER (OGRAD,OGRSOYAD,OGRSEHIR) values ('baran','akkaya','Muş')
--select * from TBLOGRENCILER
--Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav3) values (6,2,88,67)
--(ekleme işlemleri)
--delete from TBLDERSLER where DersAd='cna'
--(silme işlemleri)
--Truncate table TBLDERSLER (truncate komutu tabloyu sıfırlar.)
--Update TBLOGRENCILER set OGRCINSIYET='kız' where OGRID=3 or OGRID=4
--(Tablodaki veriler üzerinde değişiklik yapar)
--Update TBLOGRENCILER set OGRCINSIYET='erkek' where OGRID=6
--Update TBLNOTLAR set DERS='2'
--Insert Into TBLNOTLAR (OGRENCI,Ders,sınav1,sınav2) values(5,2,78,68)
--Update TBLNOTLAR set Ortalama=(sınav1+sınav2+sınav3)/3
--Update TBLNOTLAR set durum=1 where ortalama>=50
--select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER
--select COUNT (*) as 'toplam kayıt' from TBLOGRENCILER where OGRSEHIR='istanbul'
--select SUM (SINAV1), SUM (SINAV2), SUM (SINAV3) FROM TBLNOTLAR
--SELECT AVG (SINAV1), AVG(SINAV2), AVG(SINAV3) FROM TBLNOTLAR
--SELECT MAX (SINAV1) FROM TBLNOTLAR
--SELECT MIN (SINAV1) FROM TBLNOTLAR
--SELECT OGRSEHIR, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRSEHIR
--SELECT OGRCINSIYET, COUNT (*)AS 'TOPLAM' FROM TBLOGRENCILER GROUP BY OGRCINSIYET
--select (SINAV1+SINAV2+SINAV3)/3 FROM TBLNOTLAR
--SELECT durum, COUNT (*)AS 'TOPLAM' FROM TBLNOTLAR GROUP BY durum
--SELECT OGRSEHIR, COUNT (*)'SAYI' FROM TBLOGRENCILER GROUP BY OGRSEHIR HAVING COUNT (*)=1
--SELECT DISTINCT OGRSEHIR FROM TBLOGRENCILER
--SELECT * FROM TBLOGRENCILER WHERE OGRAD LIKE '%A%'
--SELECT * FROM TBLOGRENCILER ORDER BY OGRSEHIR
--SELECT DISTINCT OGRKULUP FROM TBLOGRENCILER ORDER BY OGRKULUP DESC
-- LİKE İŞARETLERİ ARAŞTIR
-- TOP PERCENT
-- IN NOT IN
-- BETWEEN
--select NOTID,OGRAD, Dersad,SINAV1,SINAV2,SINAV3 from TBLNOTLAR
--INNER JOIN TBLDERSLER
--ON TBLNOTLAR.Ders=TBLDERSLER.DERSID
--INNER JOIN TBLOGRENCILER
--ON TBLNOTLAR.OGRENCI=TBLOGRENCILER.OGRID
--insert into TBLOGRENCILER (OGRAD,OGRKULUP,OGRSEHIR) values ('berna',4,'ankara')
--update TBLOGRENCILER set OGRKULUP=5 where OGRKULUP='spor'
--UPDATE TBLNOTLAR SET ortalama=(sınav1+SINAV2+SINAV3)/3 WHERE DERS=1
--dersler tablosunda ismi mat olan ders alt sınav not bilgisi
--select * from TBLNOTLAR where ders=(select DERSId from TBLDERSLER where DersAd='matematik')
--SELECT MAX (SINAV1)As 'Algoritma En Yüksek Sınav1 Notu' FROM TBLNOTLAR where Ders=(select DERSId from TBLDERSLER where DersAd='Algoritma')
--select* from TBLNOTLAR
--full join TBLOGRENCILER
--on TBLOGRENCILER.OGRID=TBLNOTLAR.OGRENCI
--select* from TBLKULUPLER union select* from TBLDERSLER
--select 20+4 as 'toplam', 20-4 as 'fark', 20*4 as 'çarpım', 20/4 as 'bölüm'
--select * from TBLNOTLAR where ders=1
--update TBLNOTLAR set sınav2=sınav2+10 from TBLNOTLAR where ders=1
--update TBLNOTLAR set sınav2=100 where sınav2>100
--select* from TBLNOTLAR where ders=1
--sınıf ortalamasının altında olan öğrencilerin 'durum2' sütunlarının yanına 'altında',aksi durum
--üstünde yazdıran sorguyu hazırlayın...
--SELECT*,'Üstünde' as 'DURUM2' FROM TBLNOTLAR

--WHERE  ORTALAMA>(SELECT AVG(ORTALAMA) FROM TBLNOTLAR WHERE DERS IN(1,2))

--union  select*,'Altında' as 'DURUM2'

--FROM TBLNOTLAR WHERE  ORTALAMA<(SELECT AVG(ORTALAMA)  FROM TBLNOTLAR  WHERE DERS IN (1,2))
--select avg (ortalama) from TBLNOTLAR where ders=1
--select * from TBLNOTLAR
--MATEMATİKSEL KONULAR
--abs
--select abs(-85) as 'mutlak'
--select power (2,4) as 'üs alma' 
--select power(sınav2,2) from TBLNOTLAR
--SELECT SQRT (144) AS 'KAREKÖK'
--SELECT FLOOR(4.86) AS 'TABAN', CEILING (4.88) AS 'TAVAN'
--SELECT SUM (SINAV1) FROM TBLNOTLAR WHERE OGRENCI=1
--SELECT SINAV1,DERS FROM TBLNOTLAR WHERE OGRENCI=1
--SELECT SUM(SINAV1) AS 'TOPLAM', AVG(SINAV1) AS 'ORTALAMA' FROM TBLNOTLAR INNER JOIN TBLDERSLER
--ON TBLNOTLAR.DERS=TBLDERSLER.DERSID
--WHERE OGRENCI=(SELECT OGRID FROM TBLOGRENCILER WHERE OGRAD='CAN' AND OGRSOYAD='DEMİR')
--SELECT UPPER ('merhaba') as 'sütun' (harfleri büyük yazdırır)
--select upper(ograd) as 'öğr ad',
--lower (OGRSEHIR) as 'sehir' (KÜÇÜK HARF YAPAR)
--from TBLOGRENCILER

--select substring (ograd,1,1)+'.' + ogrsoyad as 'ad soyad' from TBLOGRENCILER 
--SELECT LEFT (DERSAD,3),AVG(ORTALAMA) FROM TBLNOTLAR
--INNER JOIN TBLDERSLER
--ON TBLDERSLER.DersId=TBLNOTLAR.Ders
--GROUP BY DersAd
--SELECT LEN('MERHABA')
--SELECT OGRAD,LEN(OGRAD),OGRKULUP FROM TBLOGRENCILER WHERE OGRSEHIR='İSTANBUL'AND
--OGRKULUP=(SELECT KULUPID FROM TBLKULUPLER WHERE KULUPAD='SPOR')

--CREATE DATABASE SatisVT

--USE SatisVT

--CREATE TABLE TBLKATEGORI

--(
--KATEGORIID tinyint identity (1,1) primary key,
--KATEGORIAD varchar(50) 
--)
--create table TBLURUNLER
--(
--URUNID int identity (1,1) primary key,
--URUNAD varchar(50),
--URUNMARKA varchar(50),
--KATEGORI tinyint,
--URUNALISFIYAT decimal(18,2),
--URUNSATISFIYAT decimal(18,2),
--URUNSTOK smallint check(URUNSTOK>0),
--URUNDURUM bit default '1'
--)
--create table TBLPERSONEL
--(
--PERSONELID smallint identity(1,1) primary key,
--PERSONELADSOYAD VARCHAR(50)
--)
--CREATE TABLE TBLMUSTERI
--(
--MUSTERIID int primary key identity(1,1),
--MUSTERIAD varchar(50),
--MUSTERISOYAD varchar (50),
--MUSTERISEHIR varchar (11),
--MUSTERIBAKIYE  decimal (18,2)
--)
--create table TBLHAREKET
--(

--HAREKETID int primary key identity (1,1),
--URUN int,
--MUSTERI int,
--PERSONEL smallint,
--ADET int,
--TUTAR DECIMAL (18,2),
--TARIH SMALLDATETIME
--)
--TRUNCATE TABLE TBLURUNLER
--DELETE FROM TBLKATEGORI WHERE KATEGORIID= '1'
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('BİLGİSAYAR')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('BEYAZ EŞYA')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('KÜÇÜK EV ALETİ')
--insert into TBLKATEGORI (KATEGORIAD) VALUES ('DİĞER')
--INSERT INTO TBLURUNLER (URUNAD,URUNMARKA,KATEGORI,URUNALISFIYAT,URUNSATISFIYAT,URUNSTOK)
--VALUES ('BUZDOLABI','SIEMENS',2,4356,4588,10)
--SELECT * FROM TBLURUNLER
--UPDATE TBLURUNLER SET URUNAD='SU ISITICI' WHERE URUNAD='KETTLE'
--SELECT KATEGORIAD, COUNT(*) AS 'TOPLAM URUN' FROM TBLURUNLER INNER JOIN TBLKATEGORI
--ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID GROUP BY KATEGORIAD
--ORDER BY COUNT(*)
--KATEGORI ADI BİLGİSAYAR OLAN URUNLERIN SATIS FİYATINA 500 TL ZAM YAP
--UPDATE TBLURUNLER SET URUNSATISFIYAT+=500 WHERE KATEGORI=(SELECT KATEGORIID FROM TBLKATEGORI
--WHERE KATEGORIAD='BİLGİSAYAR')
--SELECT * FROM TBLURUNLER
--SELECT COUNT (*) AS 'KAÇ FARKLI ÜRÜN VAR ', SUM(URUNSTOK)'ÜRÜN SAYISI' FROM TBLURUNLER
--SELECT URUNID,URUNAD,URUNMARKA,KATEGORIAD,URUNSATISFIYAT,URUNALISFIYAT,URUNSTOK,
--(URUNSATISFIYAT-URUNALISFIYAT)AS 'KAR',
--(URUNSATISFIYAT-URUNALISFIYAT)*URUNSTOK AS 'TOPLAM KAR'
--FROM TBLURUNLER INNER JOIN TBLKATEGORI
--ON TBLURUNLER.KATEGORI=TBLKATEGORI.KATEGORIID
--CREATE PROCEDURE HAREKETLER
--AS
--select HAREKETID,URUNAD,MUSTERIAD + ' ' + MUSTERISOYAD AS 'AD SOYAD',
--PERSONELADSOYAD,ADET,TUTAR,TARIH
--from TBLHAREKET INNER JOIN TBLURUNLER
--ON TBLHAREKET.URUN=TBLURUNLER.URUNID
--INNER JOIN TBLMUSTERI
--ON TBLHAREKET.MUSTERI=TBLMUSTERI.MUSTERIID
--INNER JOIN TBLPERSONEL
--ON TBLHAREKET.PERSONEL=TBLPERSONEL.PERSONELID
--EXECUTE HAREKETLER (PROSEDUR CALISTIRMA SORGUSU)
CREATE PROCEDURE [dbo].[URUNGETIR]
AS
SELECT URUNAD,URUNSTOK,URUNMARKA FROM TBLURUNLER
--EXECUTE URUNGETIR
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBLKATEGORI"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TEST1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TEST1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBLURUNLER"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBLKATEGORI"
            Begin Extent = 
               Top = 25
               Left = 437
               Bottom = 144
               Right = 631
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TEST2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TEST2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBLHAREKET"
            Begin Extent = 
               Top = 127
               Left = 304
               Bottom = 290
               Right = 497
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "TBLURUNLER"
            Begin Extent = 
               Top = 32
               Left = 46
               Bottom = 195
               Right = 256
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBLPERSONEL"
            Begin Extent = 
               Top = 7
               Left = 548
               Bottom = 126
               Right = 782
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBLMUSTERI"
            Begin Extent = 
               Top = 7
               Left = 830
               Bottom = 170
               Right = 1033
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'test3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'test3'
GO
